<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= f.label :site_url %><br />
    <%= f.text_field :site_url %>
    <%- unless @profile.errors[:site_url].empty? -%>
    <br />
    <span class="error">
      <%= @profile.errors[:site_url] -%>
    </span>
    <%- end -%>
  </span>
</div>

<br />

<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= f.label :sitemap %><br />
    <%= f.text_field :sitemap %>
      <%- unless @profile.errors[:sitemap].empty? -%>
      <br />
      <span class="error">
	<%= @profile.errors[:sitemap] -%>
      </span>
      <%- end -%>
  </span>
</div>

<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= f.label :offers_xml_url %><br />
    <%= f.text_field :offers_xml_url %>
    <%- unless @profile.errors[:offers_xml_url].empty? -%>
    <br />
    <span class="error">
      <%= @profile.errors[:offers_xml_url] -%>
    </span>
    <%- end -%>
  </span>
</div>

<br />

<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
    <%- unless @profile.errors[:first_name].empty? -%>
    <br />
    <span class="error">
      <%= @profile.errors[:first_name] -%>
    </span>
    <%- end -%>
  </span>
</div>

<br />

<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    <%- unless @profile.errors[:last_name].empty? -%>
    <br />
    <span class="error">
      <%= @profile.errors[:last_name] -%>
    </span>
    <%- end -%>
  </span>
</div>

<br />

<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= f.label :dob %><br />
    <%= f.date_select :dob, :start_year => 1900 %>
    <%- unless @profile.errors[:dob] -%>
    <br />
    <span class="error">
      <%= @profile.errors[:dob] -%>
    </span>
    <%- end -%>
  </span>
  </div>

<br />

<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= f.label :mobile_num %><br />
    <%= f.text_field :mobile_num %>
    <%- unless @profile.errors[:mobile_num].empty? -%>
    <br />
    <span class="error">
      <%= @profile.errors[:mobile_num] -%>
    </span>
    <%- end -%>
  </span>
</div>

<br />

<%= f.fields_for @profile.address do |address_fields| -%>
<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= address_fields.label :address_line1 %><br />
    <%= address_fields.text_field :address_line1 %>
    <%- unless @profile.address.errors[:address_line1].empty? -%>
    <br />
    <span class="error">
      <%= @profile.address.errors[:address_line1] -%>
    </span>
    <%- end -%>
  </span>
</div>

<br />

<div style="width: 800px; border: none;">
  <%= address_fields.label :address_line2 %><br />
  <%= address_fields.text_field :address_line2 %>
</div>

<br />

<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= address_fields.label :city %><br />
    <%= address_fields.text_field :city %>
    <%- unless @profile.address.errors[:city].empty? -%>
    <br />
    <span class="error">
      <%= @profile.address.errors[:city] -%>
    </span>
    <%- end -%>
  </span>
</div>

<br />

<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= address_fields.label :zip %><br />
    <%= address_fields.text_field :zip %>
    <%- unless @profile.address.errors[:zip].empty? -%>
    <br />
    <span class="error">
      <%= @profile.address.errors[:zip] -%>
    </span>
    <%- end -%>
  </span>
</div>

<br />

<div style="width: 800px; border: none;">
  <span style="clear: none;">
    <%= address_fields.label :state %><br />
    <%= address_fields.text_field :state %>
    <%- unless @profile.address.errors[:state].empty? -%>
    <br />
    <span class="error">
      <%= @profile.address.errors[:state] -%>
    </span>
    <%- end -%>
  </span>
</div>

<br />

<div style="width: 800px; border: none;">
  <%= address_fields.label :country %><br />
  <%= address_fields.text_field :country %>
</div>

<div style="width: 800px; border: none;">
  <label>My Avatar</label>
  <%= f.file_field :avatar %>
</div>

<div style="width: 800px; border: none;">
  <label>
    <%= f.check_box :remove_avatar %>
    Remove avatar
  </label>
</div>

<%- end -%>

<p><%= f.submit "Update" %></p>
