<div class="breadcrumb">
  <a href="/">Dashboard</a> > Edit My Profile
</div>

<h2>Edit Profile</h2>

<%= form_for(@profile, :url => profile_path(@profile), :html => { :method => :put, :multipart => true }) do |f| %>

  <div style="width: 800px; border: none;">
    <%- unless @profile.errors[:first_name].empty? -%>
    <span class="error">
      <%= @profile.errors[:first_name] -%>
    </span>
    <%- end -%>
    <span style="clear: none;">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
    </span>
  </div>

  <br />

  <div style="width: 800px; border: none;">
    <%- unless @profile.errors[:last_name].empty? -%>
    <span class="error">
      <%= @profile.errors[:last_name] -%>
    </span>
    <%- end -%>
    <span style="clear: none;">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    </span>
  </div>

  <br />

  <div style="width: 800px; border: none;">
    <%- unless @profile.errors[:dob].empty? -%>
    <span class="error">
      <%= @profile.errors[:dob] -%>
    </span>
    <%- end -%>
    <span style="clear: none;">
    <%= f.label :dob %><br />
    <%= f.date_select :dob, :start_year => 1900 %>
    </span>
  </div>

  <br />

  <div style="width: 800px; border: none;">
    <%- unless @profile.errors[:mobile_num].empty? -%>
    <span class="error">
      <%= @profile.errors[:mobile_num] -%>
    </span>
    <%- end -%>
    <span style="clear: none;">
    <%= f.label :mobile_num %><br />
    <%= f.text_field :mobile_num %>
    </span>
  </div>

  <br />

  <%= f.fields_for @profile.address do |address_fields| -%>
    <div style="width: 800px; border: none;">
      <%- unless @profile.address.errors[:address_line1].empty? -%>
      <span class="error">
	<%= @profile.address.errors[:address_line1] -%>
      </span>
      <%- end -%>
      <span style="clear: none;">
      <%= address_fields.label :address_line1 %><br />
      <%= address_fields.text_field :address_line1 %>
      </span>
    </div>

    <br />

    <div style="width: 800px; border: none;">
      <%= address_fields.label :address_line2 %><br />
      <%= address_fields.text_field :address_line2 %>
    </div>

    <br />

    <div style="width: 800px; border: none;">
      <%- unless @profile.address.errors[:city].empty? -%>
      <span class="error">
	<%= @profile.address.errors[:city] -%>
      </span>
      <%- end -%>
      <span style="clear: none;">
      <%= address_fields.label :city %><br />
      <%= address_fields.text_field :city %>
      </span>
    </div>

    <br />

    <div style="width: 800px; border: none;">
      <%- unless @profile.address.errors[:zip].empty? -%>
      <span class="error">
	<%= @profile.address.errors[:zip] -%>
      </span>
      <%- end -%>
      <span style="clear: none;">
      <%= address_fields.label :zip %><br />
      <%= address_fields.text_field :zip %>
      </span>
    </div>

    <br />

    <div style="width: 800px; border: none;">
      <%- unless @profile.address.errors[:state].empty? -%>
      <span class="error">
	<%= @profile.address.errors[:state] -%>
      </span>
      <%- end -%>
      <span style="clear: none;">
      <%= address_fields.label :state %><br />
      <%= address_fields.text_field :state %>
      </span>
    </div>

    <br />

    <div style="width: 800px; border: none;">
      <%= address_fields.label :country %><br />
      <%= address_fields.text_field :country %>
    </div>

    <div style="width: 800px; border: none;">
      <label>My Avatar</label>
      <%= f.file_field :avatar %>
    </div>

    <div style="width: 800px; border: none;">
      <label>
	<%= f.check_box :remove_avatar %>
	Remove avatar
      </label>
    </div>
    
  <%- end -%>
 
  <p><%= f.submit "Update" %></p>

<% end %>

<%= link_to "Back", profile_path(current_user.id) %>
