<%= form_for(@offer) do |f| %>
  
  <div style="width: 800px; border: none;">
    <span style="clear: none;">
    <%= f.label t(:title) %><br />
    <%= f.text_field :title %>
    <%- unless @offer.errors[:title].empty? -%>
    <br />
    <span class="error">
      <%= @offer.errors[:title].join(", ") -%>
    </span>
    <%- end -%>
    </span>
  </div>

  <br />

  <div style="width: 800px; border: none;">
    <span style="clear: none;">
    <%= f.label t(:original_price) %><br />
    <%= f.text_field :original_price %>
    <%- unless @offer.errors[:original_price].empty? -%>
    <br />
    <span class="error">
      <%= @offer.errors[:original_price].join(", ") -%>
    </span>
    <%- end -%>
    </span>
  </div>

  <br />

  <div style="width: 800px; border: none;">
    <span style="clear: none;">
    <%= f.label t(:final_price) %><br />
    <%= f.text_field :final_price %>
    <%- unless @offer.errors[:final_price].empty? -%>
    <br />
    <span class="error">
      <%= @offer.errors[:final_price].join(", ") -%>
    </span>
    <%- end -%>
    </span>
  </div>

  <br />
  
  <div style="width: 800px; border: none;">
    <span style="clear: none;">
    <%= f.label t(:expires_at) %><br />
    <%= f.datetime_select :expires_at %>
    <%- unless @offer.errors[:expires_at].empty? -%>
    <br />
    <span class="error">
      <%= @offer.errors[:expires_at].join(", ") -%>
    </span>
    <%- end -%>
    </span>
  </div>

  <br />

  <div style="width: 800px; border: none;">
    <span style="clear: none;">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
    <%- unless @offer.errors[:url].empty? -%>
    <br />
    <span class="error">
      <%= @offer.errors[:url].join(", ") -%>
    </span>
    <%- end -%>
    </span>
  </div>

  <br />
  
  <div class="actions">
    <%= f.submit t(:create_offer) %>
  </div>
<% end %>
