<strong>Listing offers</strong>

<table>
  <tr>
    <th>Title @ Place</th>
    <th>Original Price</th>
    <th>Final Price</th>
    <th>Discount Percentage</th>
    <th>Expires At</th>
    <th>URL</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td colspan="8">
      <%=
	 will_paginate(
	   @offers,
	   :class => "offers_pagination",
	   :params => { :controller => "offers", :action => "index" },
           :renderer => 'UJSLinkRenderer'
         )
      -%>
      <span class="offers_list_loading" style="display: none;"><strong>Loading...</strong></span>
    </td>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%= offer.title -%> <%= offer.place.nil? ? "" : " @ #{offer.place.name}" -%></td>
    <td><%= offer.original_price -%></td>
    <td><%= offer.final_price -%></td>
    <td><%= offer.discount_percentage -%></td>
    <td><%= offer.expires_at.strftime("%b. %d %Y - %A, %I:%M %p") -%></td>
    <td>
      <a href="<%= offer.url -%>">
	<%= offer.url -%>
      </a>
    </td>
    <td>
      <%= link_to 'Edit', edit_offer_path(offer), :remote => true, :id => "edit_view_loader_#{offer.id}" %>
      <span id="offer_edit_screen_loading_<%= offer.id -%>" style="display: none;"><strong>Loading...</strong></span>

<script>
$(document).ready(function() {
  $("#<%= 'edit_view_loader_' + offer.id.to_s %>").bind("ajax:beforeSend", function() { $("#offer_edit_screen_loading_<%= offer.id -%>").show(); } );
  $("#<%= 'edit_view_loader_' + offer.id.to_s %>").bind("ajax:complete", function() { $("#offer_edit_screen_loading_<%= offer.id -%>").hide(); } );
});
</script>

    </td>
    <td>
      <%= link_to 'Destroy', offer, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>

  <tr>
    <td colspan="8">
      <%=
	 will_paginate(
	   @offers,
	   :class => "offers_pagination",
	   :params => { :controller => "offers", :action => "index" },
           :renderer => 'UJSLinkRenderer'
         )
      -%>
      <span class="offers_list_loading" style="display: none;"><strong>Loading...</strong></span>
    </td>
  </tr>

</table>

<script>
$(document).ready(function() {
  $("div.offers_pagination a").bind("ajax:beforeSend", function() { $(".offers_list_loading").show(); } );
  $("div.offers_pagination a").bind("ajax:complete", function() { $(".offers_list_loading").hide(); } );
});
</script>
