<strong>Listing offers</strong>

<table>
  <tr>
    <th>Title</th>
    <th>Original Price</th>
    <th>Final Price</th>
    <th>Expires At</th>
    <th>URL</th>
    <th></th>
    <th></th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%= offer.title -%></td>
    <td><%= offer.original_price -%></td>
    <td><%= offer.final_price -%></td>
    <td><%= offer.expires_at.strftime("%b. %d %Y - %A, %I:%M %p") -%></td>
    <td>
      <a href="<%= offer.url -%>">
	<%= offer.url -%>
      </a>
    </td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
