<div class="breadcrumb">
  <a href="/">Dashboard</a> > <a href="/offers">My Offers</a> > Offer #<%= @offer.title -%>
</div>

<p id="notice"><%= notice %></p>

Title: <%= @offer.title -%><br />
Original Price: <%= @offer.original_price -%><br />
Final Price: <%= @offer.final_price -%><br />
Expires At: <%= @offer.expires_at.strftime("%b. %d %Y - %A, %I:%M %p") -%><br />
URL: <%= @offer.url -%><br />


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
