<strong>Account Settings</strong><br />

<%=
   form_for(
     @user, :url => user_registration_path,
     :remote => true, :html => { :method => :put, "data-type" => 'script' }
   ) do |f|
-%>

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label t(:name) %><br />
      <%= f.text_field :name %>
      <%- unless @user.errors[:name].empty? -%>
        <br />
        <span class="error">
          <%= @user.errors[:name].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div> 

  <br />

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
      <%- unless @user.errors[:email].empty? -%>
        <br />
        <span class="error">
          <%= @user.errors[:email].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div>

  <br />

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label t(:telephone) %><br />
      <%= f.text_field :telephone %>
      <%- unless @user.errors[:telephone].empty? -%>
        <br />
        <span class="error">
          <%= @user.errors[:telephone].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div>

  <br />
  
  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label t(:password) %> <i>(<%= t(:dont_change_passwd) -%>)</i><br />
      <%= f.password_field :password %>
      <%- unless @user.errors[:password].empty? -%>
        <br />
        <span class="error">
          <%= @user.errors[:password].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div>

  <br />

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label t(:password_confirmation) %><br />
      <%= f.password_field :password_confirmation %>
      <%- unless @user.errors[:password_confirmation].empty? -%>
        <br />
        <span class="error">
          <%= @user.errors[:password_confirmation].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div>

  <br />

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label t(:current_password) %> <i>(<%= t(:dont_change_passwd) -%>)</i><br />
      <%= f.password_field :current_password %>
      <%- unless @user.errors[:current_password].empty? -%>
        <br />
        <span class="error">
          <%= @user.errors[:current_password].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div>

  <br />

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label t(:site_name) %><br />
      <%= text_field_tag "[user][site_attributes][name]", @user.site.name %>
      <%- unless @user.site.errors[:name].empty? -%>
        <br />
        <span class="error">
          <%= @user.site.errors[:name].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div>

  <br />

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label t(:site_url) %><br />
      <%= text_field_tag "[user][site_attributes][url]", @user.site.url %>
      <%- unless @user.site.errors[:url].empty? -%>
        <br />
          <%- @user.site.errors[:url].each do |err_msg| -%>
          <span class="error"><%= err_msg %></span><br />
          <%- end -%>
        </span>
      <%- end -%>
    </span>
  </div>

  <br />

  <p><%= f.submit t(:update) %></p>

<%- end -%>
