<strong><%= t(:account_settings) -%></strong><br />

<%=
   form_for(
     @user, :url => user_registration_path,
     :remote => true, :html => { :method => :put, "data-type" => 'script' }
   ) do |f|
-%>

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label t(:name) %><br />
      <%= f.text_field :name %>
      <%- unless @user.errors[:name].empty? -%>
        <span class="field_error">
          <%= @user.errors[:name].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div> 

  <br />

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
      <%- unless @user.errors[:email].empty? -%>
        <span class="field_error">
          <%= @user.errors[:email].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div>

  <br />

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label t(:password) %> <i>(<%= t(:dont_change_passwd) -%>)</i><br />
      <%= f.password_field :password %>
      <%- unless @user.errors[:password].empty? -%>
        <span class="field_error">
          <%= @user.errors[:password].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div>

  <br />

  <div style="border: none;">
    <span style="clear: none;">
      <%= f.label t(:password_confirmation) %><br />
      <%= f.password_field :password_confirmation %>
      <%- unless @user.errors[:password_confirmation].empty? -%>
        <span class="field_error">
          <%= @user.errors[:password_confirmation].join(", ") -%>
        </span>
      <%- end -%>
    </span>
  </div>

  <br />

  <%= hidden_field_tag "[user][site_attributes][name]", @user.site.name %>
  <%= hidden_field_tag "[user][site_attributes][url]", @user.site.url %>

  <br />
 
  <p>
    <%= f.submit t(:update) %>
    <span id="user_loading" style="display: none;"><strong>Loading...</strong></span>
  </p>

<%- end -%>

<script>
$(document).ready(function() {
  $(".edit_user").bind("ajax:beforeSend", function() { $("#user_loading").show(); } );
  $(".edit_user").bind("ajax:complete", function() { $("#user_loading").hide(); } );
});
</script>
